* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin-top: 3rem;
  max-height: 100%;
}

body {
  font-family: "Basic", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
}

.header-title {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.header-title span {
  color: #f14106;
}

.header-description {
  margin-top: 0.5rem;
}

.header-description a {
  text-decoration: none;
  color: #0f07ff;
  /* text-shadow: 0 1px 1px #aba7a6; */
}

.logo {
  max-width: 90%;
  margin-top: 3rem;
  image-rendering: -moz-crisp-edges;
}

.error {
  background: #ff0026;
  padding: 0.5rem 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 6px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input,
.create {
  margin: 1rem 0;
  max-width: 100%;
}

.input {
  font-family: inherit;
  padding: 1rem;
  background: none;
  color: #262626;
  border: 2px solid #989898;
  border-radius: 6px;
  text-align: center;
  font-size: 1.25rem;
  transition: border-bottom-color 0.3s ease-in-out;
  caret-color: #fc5d13;
}

.input:focus {
  outline: none;
  border-color: #fc5d13;
}

.input::placeholder {
  color: #262626;
  opacity: 0.7;
}

.create {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  background-color: #fc5d13;
  padding: 0.75em 1.25rem;
  box-shadow: 3px 3px 0 0 #ffffff;
  transition: box-shadow 0.2s ease-in-out;
}

.create:hover {
  box-shadow: 0 0 0 0 #262626;
}

.created {
  color: #262626;
}

.created a {
  color: #ffffff;
  background-color: #fc5d13;
  padding: 1rem;
  letter-spacing: 0.1rem;
  border-radius: 0.4rem;
}
